@{
    ViewBag.Title = "About Us";
}
<h2 style="color: #16243E">@ViewBag.Title.</h2>
<div class="row">
    <img src="~/Images/joint%20details.JPG" class="img-thumbnail col-sm-8 col-sm-offset-2" />
</div>
<div class="panel panel-default" style="margin: 50px">
    <div class="panel-heading" >
        <h3 class="panel-title" style="color: #16243E"><strong>SURAJ SAMARANAYAKE</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">Director</h4>
    </div>
    <div class="panel-body" style="padding:40px; font-size: 0.8em">
        <img src="~/Images/Suraj.jpg" class="img-thumbnail img-responsive pull-left" style="width:150px; display: inline-block; margin: 0 30px 30px 0" />
        <p>Since purchasing his first property at the age of 21, Suraj has gained valuable experiences from both buying and selling numerous properties in the area. As a result of being a customer in a number of real estate transactions, Suraj understands and empathises with his clients emotions when assisting them to deal with their real estate matters.</p>
        <p>With an undeniable passion for real estate and an equally genuine approach has been the perfect formulae to able Suraj to become a key player in the local real estate scene. Having a large network of both buyers and sellers has always assisted Suraj to get any job done with the best possible outcome.</p>
        <p>Suraj has assisted a countless amount of clients in the local area to achieve their real estate dreams by providing the best advice, service and outcomes from their property transactions. </p>
        <p>After many years of listening and understanding what’s best for his clients, Suraj’s simple straight forward approach makes him a fair and honest agent to deal with.</p>
        <p>The exciting next chapter was always to own and operate his own real estate agency after many years of experience within the area. This dream was fulfilled with the opening of Boutique Estate Agency in 2014.</p>
        <p>Now as the director of the most dynamic and professional agencies in the area makes Suraj an obvious choice when choosing the right agent.</p>
        <p><em>With a hard work ethic and a relentless drive for success, make sure your first choice, is the correct choice.</em></p>
    </div>
</div>


<div class="panel panel-default" style="margin: 50px">
    <div class="panel-heading">
        <h3 class="panel-title" style="color: #16243E"><strong>THINH HUYNH</strong></h3>
        <h4 class="panel-title" style="color: #16243E;">Director</h4>
    </div>
    <div class="panel-body" style="padding: 40px; font-size: 0.8em; ">
        <img src="~/Images/Thinh.jpg" class="img-thumbnail img-responsive pull-left" style="width: 150px; display: inline-block; margin: 0 30px 30px 0" />
        <p>Whether it is perfectly matching a buyer with their dream home, or negotiating for his sellers to obtain the best possible price, you can rest assure that Thinh Huynh will be making sure that any job is always done the right way. This relentless hunger for satisfying his clients combined with his contagious positive attitude makes Thinh a very popular real estate figure within the area.</p>
        <p>Living in the South Eastern suburbs all his life and having a strong sense of family and church values makes Thinh a very driven yet humble and likeable character. </p>
        <p>Thinh understands the evolving community values and generational changes which flow from the migrant experience. Being fluent in many languages has greatly assisted Thinh to connect and make sure clients achieve their property goals.</p>
        <p>The exciting next chapter was always to own and operate his own real estate agency after many years of experience within the area. This dream was fulfilled with the opening of Boutique Estate Agency in 2014.</p>
        <p>Now as the director of the most dynamic and professional agencies in the area makes Thinh an obvious choice when choosing the right agent.</p>
        <p><em>One of the most genuine ‘nice guys’ of the local real estate industry and a person who will make sure to always get the job done.</em></p>
    </div>
</div>
