@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #FFF; padding: 0 60px">
    <h1 style="text-align: center">Your Local Agent</h1>
    <img src="~/Images/3.JPG" class="img-responsive" />
    <p class="lead" style="margin-top: 50px; font-size: 1.3em">Boutique Estate Agency is local to Dandenong North and Mulgrave and covers a wide range of
suburbs in the South Eastern area. Providing a highly experience team combined with a genuine
hands on approach has helped Boutique Estate to become a priority when choosing the right agent.
</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
 

</div>
